{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<article{{ attributes.addClass('profile') }}>
  {% if content %}
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-md-4 col-xl-2">
          <figure class="m-0 shadow bg-light border rounded-circle ratio ratio-1x1 user-img">
            <img src="{{ file_url(content.user_picture[0]['#item'].entity.uri.value) }}" alt="{{ user.name.value }}">
          </figure>
        </div>

        <div class="col-12 col-md-8 col-xl-10">
          <div class="user-name">
            <h2>Welcome, {{ user.name.value }}</h2>
          </div>

          <div class="user-roles">
            <h4 class="label">Roles </h4>
            {% for item in user.roles %}
              <span class="user-role">{{ item.target_id|capitalize|replace({'_' : ' '}) }}</span>
            {% endfor %}
          </div>

          <div class="user-membership">
            {{ content.member_for['#markup'] | raw }}
          </div>

          <div class="user-mail">
            <h4 class="label">{{ user.mail.value }}</h4>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</article>
