{% set id_one = random(0, 50) %}
{% set id_two = random(50, 100) %}
<div class="accordion-item">
  <div class="accordion-header" id="heading{{ id_one ~ id_two }}">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ id_one ~ id_two }}" aria-expanded="false" aria-controls="collapse{{ id_one ~ id_two }}">
      {{ fields.title.content }}
    </button>
  </div>
  <div id="collapse{{ id_one ~ id_two }}" class="accordion-collapse collapse" aria-labelledby="heading{{ id_one ~ id_two }}">
    <div class="accordion-body">
      {{ fields.body.content }}
    </div>
  </div>
</div>
